include README.md
include requirements.txt
include Makefile
include setup.py
include run.py
include run_all.sh
include qstar_cli.py
include LICENSE.md
include pyproject.toml

recursive-include qstar *
recursive-include api *
recursive-include agents *
recursive-include bindings *
recursive-include config *
recursive-include deployment *
recursive-include docker *
recursive-include docs *
recursive-include edge *
recursive-include examples *
recursive-include hardware *
recursive-include modules *
recursive-include profile *
recursive-include reinforcement *
recursive-include scripts *
recursive-include security *
recursive-include tests *
recursive-include tools *
recursive-include train *
recursive-include outputs *
recursive-include datasets *
recursive-include notebooks *
recursive-include .github *
